backend/node_modules/
backendApp/node_modules/
realTimeServer/node_modules/
socketServer/node_modules/
liveQuizServer/node_modules/

backend/logs/
backend/tempFiles/
backendApp/logs/
realTimeServer/logs/
logs/
*.log

backend/services/configEnv.js
backendApp/services/configEnv.js
realTimeServer/services/configEnv.js
frontend/services/configEnv.json
socketServer/services/configEnv.js
liveQuizServer/services/configEnv.js
