<style>
	.gcInput{
		border-top: none;
		border-left: none;
		border-bottom: 2px solid #e8e7e3;
		background: transparent;
		border-right: none;
		padding-left: 4px;
	}

	.gcInput:focus{
	   outline: none !important;
	   border-top: none;
	   border-left: none;
	   border-right: none;
	   border-bottom: 2px solid #e8e7e3;
	}
	
	::-webkit-input-placeholder { /* WebKit browsers */
	   text-transform: none;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	  text-transform: none;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
    	text-transform: none;
	}
	:-ms-input-placeholder { /* Internet Explorer 10+ */
	   text-transform: none;
	}
	::placeholder { /* Recent browsers */
	   text-transform: none;
	}

	.cardTop{
		margin-top:100px;
	}

	.cardHead{
		padding: 6px 0px 6px 15px !important;
		background:#b3b0ad;
	}
	.cardTitle{
		color:#fff !important;
		font-weight: 400 !important;
	}

    .boxShadow{
		padding: 10px;
        border-left: 7px solid #f0a810;
    	box-shadow: 0px 3px 14px -6px rgba(166, 159, 166, 1);
		margin-bottom: 40px;
    }

    .boxShadow i {
		font-size: 1.5em;
        color: #f0a810;
	}

	@media only screen and (max-width: 494px) {
		.cardTop {
			margin-top: 115px;
		}
	}
</style>



<nav class="navbar navbar-inverse navbar-fixed-top  navBG">
	<div class="container-fluid">
		
		<div class="navbar-header">
			<a class="navbar-brand newBrand" href="#">Examineer</a>
		</div>
		
	</div>
</nav>

<div class="container" ng-init="initGetCredential()">
		<div class="row">
			<div  class="col-md-6 col-md-offset-3">
				<div class="card  cardTop">
					<form name="credForm" >
						<div class="card-header cardHead">
							<h4 class="card-title cardTitle">
								{{ lang.caption_retreive_credential }}
							</h4>
							
						</div>
						<div class="card-content">

							<div class="reminder boxShadow">
								<p><i class="fa fa-bell"></i> {{ lang.msg_retrieve_info }} </p>
							</div>


							<div class="form-group">
								<label>Quiz ID</label>
								<input type="text" ng-model="quizId" style="text-transform: uppercase;" placeholder="Enter Quiz ID" class="form-control gcInput" required>
							</div>
							<div class="form-group">
								<label>Username/Email Id</label>
								<input type="text" ng-model="username" placeholder="Enter Username/Email Id" class="form-control gcInput" required>
							</div>

							<div class="form-group">
								<br>
								<div class="g-recaptcha"
								     data-sitekey="6LeocO8UAAAAAKL4Kij7uOey13qP3Yr53m8crzUi">
							    </div>
							</div>
						
										
							<div class="row mrT25px">

								<div class="col-md-6 col-xs-6 padLR0px">
									<button ng-click="gotoLoginPage()" type="button" class="btn-link btnLink">
									  Login	
									</button>
								</div>
								<div class="col-md-6 text-right col-xs-6 padLR0px">
									<button type="button"  ng-disabled="credForm.$invalid || isSubGCFrm" ng-click="sendCredetial()" class="btn btn-fill btn-default">Retrieve</button>
								</div>

							</div>
							
													  
							
						</div>
					</form>
				</div>
					
			</div>
		</div>
</div>
<div ng-include="'app/views/languageModal.html'"></div>





