<div class="pageLoader"></div>
<div class="alert alert-danger msg-box"></div>
<div class="container" ng-init="summary();">
	<!--section quiz -->
	 <!-- show this when section quiz -->
	 <div class="row mrT50" ng-if="showSumm && sections.length>1">

		<!-- <div class="col-md-12">
			<div class="alert alert-warning f18px" style="border-left:5px solid #f0a810" ng-show="havePending && totalPendingForGrade>0">
			 <i class="fa fa-bell"></i> {{ lang.msg_QuesPending }}
			</div>
		</div> -->

		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<div class="card card-user minHt475px">
						<div class="image height108px">
							<img src="assets/img/bgimg.jpg" alt="...">
						</div>
						<div class="card-content minHT220px" >
							<div class="author minMT55px">
									<img onerror="onImgLoadError(this)" class="avatar border-white imgHW" src="https://robohash.org/{{rsgetData('USER')}}{{rsgetData('QUIZID')}}?set=set2&&bgset=bg2&&size=90x90"
									alt="...">
								<h4 class="card-title mrT25px" title="{{rsgetData('USER')}}">{{rsgetData('USER') | textTrim:15 }}
									<br>
								</h4>
								<h4 class="card-title ">{{rsgetData('QUIZID')}}
								</h4>
								<div class="text-center">
									<button class="btn btn-danger  btn-sm btn-fill mrB18px" ng-click="loggedOut()"> <i class="fa fa-sign-out"></i> {{lang.caption_logout}} </button>
									
								</div>
							</div>
						</div>
						<hr>
						<div class="text-center">
							<div class="row">
								<div class="col-md-12">
									<h3 class="scoreHead"> {{ totalScore }}
										<!-- Score -->
										<small class="summLabelHtV">/ {{totalMaxScore}}
											<!-- max score -->
										</small>
										<br> <br>
										<small class="f18px">{{lang.caption_scoreObtained}}</small>
									</h3>
								</div>
								<div class="col-md-12">
									<h3 class=" scoreHead">
										{{ totalCorrect }}
										<!-- correct answers -->
										<small class="summLabelHtV" >/ {{totalGraded }}
											<!--  total questions -->
										</small>
										<br> <br>
										<small class="f18px" style="display: block;">{{ lang.caption_correctAns }}</small>

										<small  ng-show="havePending && totalSub>0" class="text-warning bold" >{{ lang.msg_ObjQuesOnly }}</small>
									</h3>
								</div>
								<div class="col-md-12">
									<h3 class=" scoreHead"> {{ totalTimeTaken }}
										<br> <br>
										<small class="f18px">{{lang.caption_timeTaken}}</small>
									</h3>
								</div>
							</div>
						</div>
						<hr>
					</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
			<div class="card">
					<div class="card-header">
						
						<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 padLft0px">
										<h3 class="card-title"> {{lang.caption_summary}}</h3>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 text-right mytextCenter">
									<button ng-hide="havePending"  class="btn btn-warning btn-sm btn-fill" ng-click="downloadSummary()" ng-disabled="isDownloading" >
									<span ng-show="!isDownloading">
										<i class="fa fa-download"></i>
									</span>
									
									<span ng-show="isDownloading">
										<i class="fa fa-circle-o-notch fa-fw fa-spin"></i>
									</span>

									<span id="waitTxt"> {{ lang.caption_download
									}}</span> 
									</button>
									<!-- <button ng-hide="havePending && totalPendingForGrade>0"  class="btn btn-success btn-sm btn-fill" data-toggle="modal" data-target="#sendMailModal" >
									<i class="fa fa-envelope-o"></i> {{lang.caption_emailMe}}</button> -->
								</div>
						</div>
						
					</div>
					<div class="card-content padLR0px">
						<div class="quizSummaryTabs">
							<uib-tabset active="active">
								<uib-tab index="3" select="alertMe()">
									<uib-tab-heading>
										{{lang.caption_overview}}
									</uib-tab-heading>
									<h4 class="text-center secHeading" > {{caption_overAllSummary}} </h4>
									<br> 
									<ul class="list-unstyled team-members sumUl">
											<li>
													<div class="row">
														<div class="col-xs-9">
															<h5>{{lang.caption_sectAttempted}}</h5>
														</div>
														<div class="col-xs-3">
															<h5 >{{sectionAttempted}}/{{ summArr.length}}</h5>
														</div>
													</div>
											</li>
										<li>
											<div class="row">
												<div class="col-xs-9">
													<h5>{{lang.caption_totalContent}}</h5>
												</div>
												<div class="col-xs-3">
													<h5 >{{totalContent}}</h5>
												</div>
											</div>
										</li>

										<li ng-show="havePending">
											<div class="row">
												<div class="col-xs-9">
													<h5>{{ lang.caption_gradable_content }}</h5>
												</div>
												<div class="col-xs-3">
													<h5 >{{totalGradableContent}}</h5>
												</div>
											</div>
										</li>

										<li>
											<div class="row">
												<div class="col-xs-9 ">
													<h5 class="{{havePending?'padLeft20px mrB0px':''}}">
														{{lang.caption_greadedQue}}
														<!-- Question graded -->
													</h5>
													<small ng-show="havePending && totalSub>0" class="text-warning  {{havePending ? 'padLeft20px':''}}" >{{ lang.msg_ObjQuesOnly }}</small>
												</div>
												<div class="col-xs-3">
													<h5 >{{totalGraded}}</h5>
												</div>
											</div>
										</li>
									
										<li>
											<div class="row">
												<div class="col-xs-9">
													<h5 class="padLeft20px">{{lang.caption_queAttempted}}</h5>
												</div>
												<div class="col-xs-3">
													<h5 >{{ totalAttempted }}</h5>
												</div>
											</div>
										</li>

										<li>
											<div class="row">
												<div class="col-xs-9">
													<h5 class="padLeft20px">{{lang.caption_queSkipped}}</h5>
												</div>
												<div class="col-xs-3">
													<h5 >{{totalSkipped}}</h5>
												</div>
											</div>
										</li>

										<li>
											<div class="row">
												<div class="col-xs-9">
													<h5 class="padLeft20px {{havePending?'mrB0px':''}}">{{lang.caption_incAns}}</h5>
													<small ng-show="havePending && totalSub>0" class="text-warning  {{havePending ? 'padLeft20px':''}}" >{{ lang.msg_ObjQuesOnly }}</small>
												</div>
												<div class="col-xs-3">
													<h5 >{{ totalIncorrect }}</h5>
												</div>
											</div>
										</li>

										<li>
											<div class="row">
												<div class="col-xs-9">
													<h5 class="padLeft20px">{{lang.caption_helpUsed}}</h5>
												</div>
												<div class="col-xs-3">
													<h5 >{{ totalHelpUsed }}</h5>
												</div>
											</div>
										</li>


										<!-- <li ng-if="hasCorrection">
											<div class="row">
												<div class="col-xs-9">
													<h5 class="padLeft20px">{{lang.caption_correction}}</h5>
												</div>
												<div class="col-xs-3">
													<h5 >{{ totalCorrection }}</h5>
												</div>
											</div>
										</li> -->


										<li ng-show="havePending">
											<div class="row text-warning">
												<div class="col-xs-12">
													<div style="display:flex">
														<div style="flex:20px 0 0;"></div>

														<small class="f18px">
															{{ lang.msg_subPendGrade }}
														</small>
													</div>
													
												</div>
											</div>
										</li>

									
										<li>
											<div class="row">
												<div class="col-xs-9">
													<h5>
														<!-- {{lang.caption_unGradedQue}} -->
														Ungradable content
													</h5>
												</div>
												<div class="col-xs-3">
													<h5 >{{ totalUngraded }}</h5>
												</div>
											</div>
										</li>

									</ul>

									

								   <!-- overiew statistics -->
								   <div class="quizCollapse">
									<uib-accordion ng-show="(reqBy == 'auth' || allowStats)" close-others="false">
										<div uib-accordion-group class="panel-default" is-open="status.statistics" ng-init="status.statistics=true">
											<uib-accordion-heading>
												{{ lang.caption_statistics }} <i class="pull-right fa fa-angle-right" ng-class="{'fa fa-angle-down': status.statistics, 'fa fa-angle-right': !status.statistics}"></i>
											</uib-accordion-heading>
											<div class="fx-row-guage-summ" id="overview_graph">
												<div>
													<div id="sectioned_SummAvgTTgarph"></div>
													<div class="summLable">
														<div class="yours">
															<strong>You took: {{ summaryStats.overview.Time.yours | secondToString }}</strong>
														</div>
														<div class="average">
															<strong>Average: {{ summaryStats.overview.Time.Avg | secondToString }}</strong>
														</div>
													</div>
												</div>
												<div>
													<div id="sectioned_SummAvgSCRgarph"></div>
													<div class="summLable">
														<div class="yours">
															<strong>Your score: {{ summaryStats.overview.Score.yours }}</strong>
														</div>
														<div class="average">
															<strong>Average : {{ summaryStats.overview.Score.Avg }}</strong>
														</div>
													</div>
												</div>
												
											</div>

											<div id="sectioned_mark_distribution"></div>
										</div>
										
									</uib-accordion>
									</div>
							    	

								</uib-tab>

								
								
								<uib-tab  ng-repeat="summ in summArr" select="changeSecId(summ.secId)">
									<uib-tab-heading>
										<i class="fa fa-ticket text-danger" ng-if="reqBy=='auth' && summ.hasTicket" title="Ticket Raised" ></i>
											{{ lang.caption_section }} {{$index +1}}
									</uib-tab-heading>
										
									
									

									<div class="text-center padB10px">
										
										<h4 class="secHeading" > {{summ.secTitle}} </h4>
										<h5 class="text-danger isAttemptText" ng-if="!summ.isAttempted"> 
											({{ lang.caption_notAttempted }})
										</h5>
										<h5 class="text-success isAttemptText" ng-if="summ.isAttempted">
										({{ lang.caption_attempted }})
										</h5>
										
										<button ng-disabled="viewResBtn"  class="btn btn-info btn-sm btn-fill marT10px " ng-click="viewResponse(summ.secId);">
											<span ng-show="!viewResBtn"><i class="fa fa-eye"></i></span>
											<span ng-show="viewResBtn"><i class="fa fa-circle-o-notch fa-fw fa-spin"></i></span>
											{{lang.caption_viewRes}}
										</button>
										<br>
									
									</div>
									<hr>

									
									<div class="text-center">
										<div class="row">
											<div class="col-md-4">
												<h3 class="scoreHead"> {{ summ.score }}
													<!-- Score -->
													<small class="fs16px" >/ {{summ.max}}
														<!-- max score -->
													</small>
													<br> <br>
													<small class="fs16px">{{lang.caption_scoreObtained}}</small>
												</h3>
											</div>
											<div class="col-md-4">
												<h3 class=" scoreHead">
													{{ summ.correct }}
													<!-- correct answers -->
													<small class="fs16px" ng-show="isNaN(summ.graded)" >/ {{summ.graded }}
														<!--  total questions -->
													</small>
													<br> <br>
													<small class="fs16px">{{ lang.caption_correctAns }}</small>
												</h3>
											</div>
											<div class="col-md-4">
												<h3 class=" scoreHead" style="margin-top: 29px;"> {{ summ.time }}
													<br> <br>
													<small class="fs16px" >{{lang.caption_timeTaken}}</small>
												</h3>
											</div>
										</div>
									</div>
									
									
									<ul class="list-unstyled team-members sumUl">
											<li>
												<div class="row">
													<div class="col-xs-9">
														<h5>{{lang.caption_totalContent}}</h5>
													</div>
													<div class="col-xs-3">
														<h5 >{{summ.total}}</h5>
													</div>
												</div>
											</li>

											<li ng-show="summ.hasPending">
												<div class="row">
													<div class="col-xs-9">
														<h5>Gradable content</h5>
													</div>
													<div class="col-xs-3">
														<h5 >{{summ.gradable}}</h5>
													</div>
												</div>
											</li>



											<li>
												<div class="row">
													<div class="col-xs-9">
														<h5 class="{{ summ.hasPending ?'padLeft20px mrB0px':''}}">{{lang.caption_greadedQue}}</h5>
														<small ng-show="summ.hasPending && summ.totalSub>0" class="text-warning  {{summ.hasPending ? 'padLeft20px':''}}" >{{ lang.msg_ObjQuesOnly }}</small>
													</div>
													<div class="col-xs-3">
														<h5 >{{summ.graded}}</h5>
													</div>
												</div>
											</li>

											<li>
												<div class="row">
													<div class="col-xs-9">
														<h5 class="padLeft20px">{{lang.caption_queAttempted}}</h5>
													</div>
													<div class="col-xs-3">
														<h5 >{{summ.attempted}}</h5>
													</div>
												</div>
											</li>

											<li>
												<div class="row">
													<div class="col-xs-9">
														<h5 class="padLeft20px">{{lang.caption_queSkipped}}</h5>
													</div>
													<div class="col-xs-3">
														<h5 >{{summ.skipped}}</h5>
													</div>
												</div>
											</li>

											<li>
												<div class="row">
													<div class="col-xs-9">
														<h5 class="padLeft20px {{ summ.hasPending ?'mrB0px':''}}">{{lang.caption_incAns}}</h5>
														<small ng-show="summ.hasPending && summ.totalSub>0" class="text-warning  {{summ.hasPending ? 'padLeft20px':''}}" >{{ lang.msg_ObjQuesOnly }}</small>
													</div>
													<div class="col-xs-3">
														<h5 >{{summ.incorrect}}</h5>
													</div>
												</div>
											</li>

											<li ng-if="sections[$index].helpAllowed>0">
												<div class="row">
													<div class="col-xs-9">
														<h5 class="padLeft20px">{{lang.caption_helpUsed}}</h5>
													</div>
													<div class="col-xs-3">
														<h5 >{{summ.help}}</h5>		
													</div>
												</div>
											</li>

											<!-- <li ng-if="summ.hasSecCorrection">
												<div class="row">
													<div class="col-xs-9">
														<h5 class="padLeft20px">{{lang.caption_correction}}</h5>
													</div>
													<div class="col-xs-3">
														<h5 >{{ summ.corrections }}</h5>
													</div>
												</div>
											</li> -->

											<li ng-show="summ.hasPending">
												<div class="row text-warning">
													<div class="col-xs-12">
														<div style="display:flex">
															<div style="flex:20px 0 0;"></div>
								
															<small class="f18px">
																{{ lang.msg_subPendGrade }}
																
															</small>
														</div>
													</div>
												</div>
											</li>
											
											<li>
												<div class="row">
													<div class="col-xs-9">
														<h5>{{lang.caption_unGradedQue}}</h5>
													</div>
													<div class="col-xs-3">
														<h5 >{{summ.ungraded}}</h5>
													</div>
												</div>
											</li>
											
									</ul>

								
									<div class="quizCollapse">
										<uib-accordion ng-show="(reqBy == 'auth' || allowStats)">
											<div uib-accordion-group class="panel-default" is-open="status.open" ng-init="status.open=true">
												<uib-accordion-heading>
													{{lang.caption_section_stats}} <i class="pull-right fa fa-angle-right" ng-class="{'fa fa-angle-down': status.open, 'fa fa-angle-right': !status.open}"></i>
												</uib-accordion-heading>
												<div class="fx-row-guage-summ" id="section_graph_{{$index+1}}">
													<div>
														<div id="sectioned_SummAvgTTgarph_{{$index+1}}"></div>
														<div class="summLable">
															<div class="yours">
																<strong>You took : {{ summaryStats.stats[$index+1].Time.yours | secondToString }}</strong>
															</div>
															<div class="average">
																<strong>Average : {{ summaryStats.stats[$index+1].Time.Avg | secondToString }}</strong>
															</div>
														</div>
													</div>
													<div>
														<div id="sectioned_SummAvgSCRgarph_{{$index+1}}"></div>
														<div class="summLable">
															<div class="yours">
																<strong>Your score : {{ summaryStats.stats[$index+1].Score.yours.toFixed(2) }}</strong>
															</div>
															<div class="average">
																<strong>Average : {{ summaryStats.stats[$index+1].Score.Avg.toFixed(2) }}</strong>
															</div>
														</div>
													</div>
												</div>
											</div>
									   </uib-accordion>
									</div>
									

									

								</uib-tab>
							</uib-tabset>
						</div>							
					</div>
			</div>
		</div>
	 </div>
	<!-- end of section quiz -->

	<!-- plain quiz -->
	<div class="row" ng-if="showSumm && sections.length==1">
		<br>
		<div class="col-lg-6 col-md-6 col-md-offset-3">
			<!-- <div class="alert alert-warning f18px" style="border-left:5px solid #f0a810" ng-show="havePending && summaryDetailsObj.pending>0">
		    	 <i class="fa fa-bell"></i> {{  lang.msg_QuesPending }}
			</div> -->
			
			<div class="card card-user">
				<div class="image">
					<img src="assets/img/bgimg.jpg" alt="...">
				</div>
				<div class="card-content" style="min-height: 175px !important;">
					<div class="author">
						<img onerror="onImgLoadError(this)" class="avatar border-white" src="https://robohash.org/{{rsgetData('USER')}}{{rsgetData('QUIZID')}}?set=set2&&bgset=bg2&&size=90x90"
						 alt="...">
						<h4 class="card-title">{{rsgetData('USER')}}
							<br>
						</h4>
						<h4 class="card-title">{{rsgetData('QUIZID')}}
						</h4>
						<div class="text-center">

								<ul class="list-inline">
										<li>
											<button ng-disabled="viewResBtn"  class="btn btn-info btn-sm btn-fill sumMinBtn" ng-click="viewResponse(plainSecID);">
												<span ng-show="!viewResBtn"><i class="fa fa-eye"></i></span>
												<span ng-show="viewResBtn"><i class="fa fa-circle-o-notch fa-fw fa-spin"></i></span>
												{{lang.caption_quizRev}}
										</li>

										<li>
										<button class="btn btn-danger  btn-sm btn-fill sumMinBtn" ng-click="loggedOut()"> <i class="fa fa-sign-out"></i> 
											{{lang.caption_logout }} </button>
									    </li>
								</ul>
								 <ul class="list-inline">												
										<li>
											<button ng-hide="havePending"  class="btn btn-warning btn-sm btn-fill sumMinBtn" ng-click="downloadSummary()" ng-disabled="isDownloading" >
												<span ng-show="isDownloading"><i class="fa fa-circle-o-notch fa-fw fa-spin"></i></span>
												<span ng-show="!isDownloading">
													<i class="fa fa-download"></i> 
												</span>
												{{ lang.caption_download
												}}</button>
										</li>
										<!-- <li>
											<button ng-hide="havePending && summaryDetailsObj.pending>0"    class="btn btn-success btn-sm btn-fill sumMinBtn" data-toggle="modal" data-target="#sendMailModal" >
												<i class="fa fa-envelope-o"></i> {{lang.caption_emailMe}}</button>
										</li> -->
								</ul>
							
						</div>
					</div>
				</div>
				<hr>
				<div class="text-center">
					<div class="row mB5px">
						<div class="col-md-3 col-md-offset-1">
							<h3> {{summaryDetailsObj["score"]}}
								<!-- Score -->
								<small>/ {{summaryDetailsObj["max"]}}
									<!-- max score -->
								</small>
								<br>
								<small class="f18px">{{lang.caption_scoreObtained}}</small>
							</h3>
						</div>
						<div class="col-md-4">
							<h3 class="mrB0px">
								{{summaryDetailsObj["correct"]}}
								<!-- correct answers -->
								<small>/ {{summaryDetailsObj["graded"]}}
									<!--  total questions -->
								</small>
								<br>
								<small class="f18px">{{ lang.caption_correctAns }}</small>
							</h3>
							<small ng-show="havePending && summaryDetailsObj.totalSub>0" class="text-warning " >{{ lang.msg_ObjQuesOnly }}</small>
						</div>
						<div class="col-md-3">
							<h3> {{summaryDetailsObj["time"]}}
								<br>
								<small class="f18px">{{lang.caption_timeTaken}}</small>
							</h3>
						</div>
					</div>
				</div>
				<hr>
			</div>
			<div class="card">
				<div class="card-header">
					<h3 class="card-title text-center"> {{lang.caption_summary}}  <i ng-if="reqBy === 'auth' && summaryDetailsObj['hasTicket']" class="fa fa-sm fa-ticket text-danger"  title="Ticket Raised"></i></h3>
				</div>
				<div class="card-content">
					<!-- <div class="text-warning row" ng-show="havePending">
						<div class="col-md-12  f18px text-center">
							<i class="fa fa-info-circle"></i> {{ summaryDetailsObj['allowPartialGrading'] ?'This score include partial grading.' : 'This score not include patial grading.' }}
						</div>
					</div> -->

					<ul class="list-unstyled team-members">
						<li>
							<div class="row">
								<div class="col-xs-9">
									<h5>Total Contents</h5>
								</div>
								<div class="col-xs-3">
									<h5>{{summaryDetailsObj["total"]}}</h5>
								</div>
							</div>
						</li>

						<li ng-show="havePending">
							<div class="row">
								<div class="col-xs-9">
									<h5>{{ lang.caption_gradable_content }}</h5>
								</div>
								<div class="col-xs-3">
									<h5>{{summaryDetailsObj["gradable"]}}</h5>
								</div>
							</div>
						</li>


						<li>
							<div class="row">
								<div class="col-xs-9">
									<h5 class="{{havePending ? 'padLeft20px mrB0px':''}}">{{lang.caption_greadedQue}}</h5>
									<small ng-show="havePending && summaryDetailsObj.totalSub>0" class="text-warning  {{havePending ? 'padLeft20px':''}}" >{{ lang.msg_ObjQuesOnly }}</small>

								</div>
								<div class="col-xs-3">
									<h5>{{summaryDetailsObj["graded"]}}</h5>
								</div>
							</div>
						</li>
						
						<li>
							<div class="row">
								<div class="col-xs-9">
									<h5 class="padLeft20px">{{lang.caption_queAttempted}}</h5>
								</div>
								<div class="col-xs-3">
									<h5>{{summaryDetailsObj["attempted"]}}</h5>
								</div>
							</div>
						</li>

						<li>
							<div class="row">
								<div class="col-xs-9">
									<h5 class="padLeft20px">{{lang.caption_queSkipped}}</h5>
								</div>
								<div class="col-xs-3">
									<h5>{{summaryDetailsObj["skipped"]}}</h5>
								</div>
							</div>
						</li>

						<li>
							<div class="row">
								<div class="col-xs-9">
									<h5 class="padLeft20px {{havePending ? 'mrB0px':''}}">{{lang.caption_incAns}}</h5>
									<small ng-show="havePending && summaryDetailsObj.totalSub>0" class="text-warning  {{havePending ? 'padLeft20px':''}}" >{{ lang.msg_ObjQuesOnly }}</small>
								</div>
								<div class="col-xs-3">
									<h5 >{{summaryDetailsObj["incorrect"]}}</h5>
								</div>
							</div>
						</li>
						

						<li ng-if="sections[0].helpAllowed>0">
							<div class="row">
								<div class="col-xs-9">
									<h5 class="padLeft20px">{{lang.caption_helpUsed}}</h5>
								</div>
								<div class="col-xs-3">
									<h5>{{summaryDetailsObj["help"]}}</h5>
								</div>
							</div>
						</li>

						<!-- <li ng-if="hasCorrection">
							<div class="row">
								<div class="col-xs-9">
									<h5 class="padLeft20px">{{lang.caption_correction}}</h5>
								</div>
								<div class="col-xs-3">
									<h5>{{summaryDetailsObj['corrections']}}</h5>
								</div>
							</div>
						</li> -->

						<li ng-show="havePending">
							<div class="row text-warning">
								<div class="col-xs-12">
									<div style="display:flex">
										<div style="flex:20px 0 0;"></div>
			
										<small class="f18px">
											{{ lang.msg_subPendGrade }}
											
										</small>
									</div>
								</div>
							</div>
						</li>

						
						

						<li>
							<div class="row">
								<div class="col-xs-9">
									<h5>{{lang.caption_unGradedQue}}</h5>
								</div>
								<div class="col-xs-3">
									<h5>{{summaryDetailsObj["ungraded"]}}</h5>
								</div>
							</div>
						</li>

					</ul>

					<div class="quizCollapse">
						<uib-accordion ng-show="(reqBy == 'auth' || allowStats)" close-others="false">
							<div uib-accordion-group class="panel-default" is-open="status.statistics" ng-init="status.statistics=true">
								<uib-accordion-heading>
									{{ lang.caption_statistics }} <i class="pull-right fa fa-angle-right" ng-class="{'fa fa-angle-down': status.statistics, 'fa fa-angle-right': !status.statistics}"></i>
								</uib-accordion-heading>
								<div class="fx-col-guage">
									<div>
										<div id="plain_SummAvgTTgarph_{{$index+1}}"></div>
										<div class="summLable">
											<div class="yours">
												<strong>You took : {{ summaryStats.Time.yours | secondToString }}</strong>
											</div>
											<div class="average">
												<strong>Average : {{ summaryStats.Time.Avg | secondToString }}</strong>
											</div>
											
										</div>
										
									</div>
									<div>
										<div id="plain_SummAvgSCRgarph_{{$index+1}}"></div>
										<div class="summLable">
											<div class="yours">
												<strong>Your score : {{ summaryStats.Score.yours }}</strong>
											</div>
											<div class="average">
												<strong>Average : {{ summaryStats.Score.Avg.toFixed(2) }}</strong>
											</div>
											
										</div>
										
									</div>
								</div>

								<div id="plain_mark_distribution"></div>
							</div>

							
					   </uib-accordion>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<!-- end of plain quiz -->
	
	<div class="row" ng-cloak ng-if="!showSumm">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1">
	
			<div class="text-warning result-box">
				<div class="row">
					<div class="col-xs-1  text-center">
						<i class="fa fa-info-circle big-icon"></i>
					</div>
					<div class="col-xs-11">
						<p>
							<b class="big-font" ng-if="alertMSG==1">{{ lang.scoreAfterDeadline+" "+ deadLineDate }}</b>
							<b class="big-font" ng-if="alertMSG==2">{{lang.scoreNotAllowed}}</b>
							<b class="big-font" ng-if="alertMSG==3">{{lang.caption_noSummary}}</b>
							<b class="big-font" ng-if="alertMSG==4">
								{{lang.msg_submissionInProcess}}
							</b>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<br>
						<div class="text-center">
							<button class="btn btn-danger btn-fill " ng-click="loggedOut()"> &nbsp; &nbsp; &nbsp; &nbsp;
								{{lang.caption_exit}} &nbsp; &nbsp; &nbsp; &nbsp;</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- error message to be displayed when the quiz is not yet attempted -->
	<!-- <div ng-hide="{{rsgetData('ATTEMPT')}}" class="alert alert-danger">
		<center>
			<p>Session expired. Login again</p>
		</center>
	</div> -->
</div>


 <!-- Modal -->
 <div class="modal fade" id="sendMailModal" role="dialog">
		<div class="modal-dialog">
		
		  <!-- Modal content-->
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">{{lang.caption_summEmail}}</h4>
			</div>
			<form name="emailFrm">

			
			<div class="modal-body">
					<div class="form-group">
							<label>{{ lang.caption_emailAddr }}</label>
							<input type="text" ng-pattern="emailRegex" name="email" ng-model="email" required placeholder="Enter email" class="form-control">
					</div>
			  
			</div>
			<div class="modal-footer borTnone">
			  <button type="button" class="btn btn-default btn-fill"  ng-click="sendEmail()" ng-disabled="!emailFrm.email.$valid || sendMailBtnReq">
				<span ng-show="sendMailBtnReq"><i class="fa fa-circle-o-notch fa-fw fa-spin"></i></span>  
				{{ lang.caption_send }} <i class="fa fa-paper-plane"></i></button>
			</div>
		    </form>
		  </div>
		  
		</div>
</div>



<div ng-include="'app/views/languageModal.html'"></div>

<style>
	.big-icon {
		font-size: 28px;
		margin-top: 7px;
	}

	.result-box {
		background-color:#f9ecd0;
		 padding:25px 5px 9px 0px;  
		 box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
		 margin-top: 60px;
	}

	.big-font {
		font-size: 20px;
	}


	.msg-box {
		position: absolute;
		width: 100%;
		z-index: 999;
		display: none;
		text-align: center;
	}

	.alert-box {
		background-color: #66615b;
		border: solid 2px #66615b;
		color: #fff;
	}
</style>