

<!DOCTYPE html>
<html>

<head>
    <title>Examineer | Live Quiz</title>    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all" /><!-- Style-CSS -->
</head>
<body>
   
   <section class="form-26">
        <div class="form-26-mian">
				<div class="layer">
					<div class="wrapper">
					<div class="form-inner-cont">
							<div class="forms-26-info">
								 <h2>Live Quiz</h2>
		                        <p>Quiz with live questions asked by the author which help's to test your knowledge.</p>
		                    </div>

		                    <div class="text-center">

		                       <a href="https://quiz.examineer.in" class="gotoBtn">Go To Quiz</a>
		                    	
		                    </div>
							
						<div class="copyright text-center">
		                    <p>© <span id="year"></span> <a href="https://examineer.in/"
		                            >Examineer</a></p>
		                </div>
		            </div>
					
					</div>
		        </div>
		</div>
    </section>
</body>

  <script type="text/javascript">
  	  let year = document.getElementById('year');
  	  let currentYear = new Date().getFullYear();
  	  year.innerHTML = currentYear;
  </script>
</html>