<!-- <div class="col-xs-12 col-md-10 col-md-offset-1"> -->
	<!-- <br> -->
	<div id="qusBlock" class="card mtResp">
			<!-- <div class="card-header">
					<div class="clear-fix">
						<div class="pull-left">
							<h4 class="card-title auto-resize">
								<span class="info-marker-qus">{{currentPage}}</span>
								&nbsp; Arrange
							</h4>
						</div>
						<div class="pull-right">
							<span class="{{checkReview((currentPage)) ? 'info-marker-flag': 'info-marker-default'}}">
								<i class="fa fa-flag"></i>
							</span>
							&nbsp;
							<span class="{{lock[currentPage-1]==true ? 'info-marker-lock' :'info-marker-default'}}">
								<i class="{{lock[currentPage-1]==true ? 'fa fa-lock' :'fa fa-unlock'}}"></i>
							</span>
						</div>
					</div>
					<br><br>
					<br>
				</div> -->
		<div class="card-content">
			<div class="typo-line">
				<span math="{{filteredQuestions[0].object.question}}"></span>
			</div>
			<br>
			<div id="arrOptions" class="options" ng-init="sortListItems()">
				<div ng-repeat="item in arrangeType[currentPage-1]" class="arrOptions" id="{{item}}">
					<div class="arrangeOption">
						<div class="arrangeContent">
							<span math="{{filteredQuestions[0].object.items[item-1].stmt}}">
						</div>
						<div class="arrangeIcon">
							<span class="ti-move"></span>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>

			
		</div>

		
	</div>
<!-- </div> -->